/* Add a black background color to the top navigation */

/* theme colors
  black = #000
  purple/blue= #9664ff
  red/pink = #ff6496
  green = #96ff64


*/
#background{
  background-color: #000;
}
#clock{
  padding: 10px;
  float:left;
}
.topnav table{
  overflow: hidden;
  opacity: 1;
  background-color:black;
  padding-bottom: 25px;
  padding-right: 15px;
}
/* Style the links inside the navigation bar */
.topnav table a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #000;
}

/* Change the color of links on hover */
.topnav table a:hover {
  background-color: #96ff64;
  color: #000;
}

/* Add a color to the active/current link */
.topnav table a.active {
  background-color: #96ff64;
  color:  #000;
}
#moto{
  font-size: 50px;
  color:white;
}
#mason-looking-presidential{
  width:25%;
  float:right;
}
.topnav #Mason-colton-logo{
  padding: 5px;
  float:left;
}
.topnav img{
  float: right;
  height: 60px;
  width: auto;
}
#policies p{
  font-size: 20px;
  color:white;
  float:left;
}
#policies body{
  float:left;
  background-image: url("../images/mason-in-suit-facing-camera.jpg");
}
#policies h1{
  float: left;
  color:white;
  font-size: 30px
}
/*
#hook #masonlookspresidential{
  width: 50%;
  height: auto;
  float: left;
}
#hook #masonintshirt{
  width: 50%;
  height: auto;
  float :right;
}
*/
#aboutme{
  float:left;
  color:white;
  font:times-new-roman;
}
